body html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}
h1{
    padding-top: 100px;
}
#video-fondo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.contenido {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.contenido h1 {
    font-size: 3em;
    margin: 0.2em 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.contenido p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

.boton {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 0.7em 1.5em;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.boton:hover {
    background-color: white;
    color: black;
}