*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    body{
    background-color: rgb(211, 211, 211);
    margin: 0;
}
h1{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: Rubik Glitch;
    text-align: center;
    text-decoration: underline rgb(0, 0, 0);
    font-size: 40px;
}
.logo{
    position: absolute;
    top: -25px;
    right: 10px;
    width: 10%; 
}
nav {
    position: absolute;
    width: 100%;
    padding: 0;      
    margin: 0;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(8px);    
    font-weight: bold;  
    
}
ul{
    list-style: none;  
    width: 100%;
    padding: 0;
    margin: 0;
}
li{
     background-color: #f6f6f60d;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

}
nav li{
    flex: 1px;
    text-align: center;
    padding: 10px 0;
}
nav li:last-child{
    border-right: none;
}
nav>ul>li>a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
}
ul>li{
    display: inline-block;
    text-align: center; 
    font-variant: small-caps;
}
ul>li>a:hover{
     background-color: #f6f6f60d;
     height: 50%;
}

.menu{
    list-style: none;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

.menu li{
    position: relative;
    display: inline-block;
    width: 100%;
}
.menu li:hover ul{
    display: block;
}
.menu ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(0, 0, 0);
}
.menu ul li a{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 12px;
}
.menu ul li a:hover{
    background-color: rgba(251, 251, 253, 0.151);
width: 100%;
}
.menu li a{
    text-decoration: none;
    padding: 10px;
}

ul.menu2 {
      list-style-type: none; 
      padding: 0;
      margin: 0;
      font-size: 16px;
      
      /* background-color: red; */
    }
    
    ul.menu2 li { 
      width: calc(97%/3);
      font-size: 10px;
      border-right: 1px solid white;
    }

   h2{
    color: rgb(0, 0, 0);
    font-family: BBH Sans Bartle;
    text-align: center;
   }
   section{
    display: inline-block;
    vertical-align: top;
    width: calc(99%/3);
    padding-top: 6%;
    margin-top: 1%;
    text-align: center;
     transition: transform 1s ease;
   }
   section:hover{
    transform: scale(1.05);
   }
   section>img{
    width: 100%;
    height: 350px;
    text-align: center;
    margin: 0;
    vertical-align: top;
   }
   
   section:nth-child(4){
    margin-top: -16px;
   }
   section:nth-child(12){
    margin-top: -16px;
   }
   section:nth-child(14){
    margin-top: 42px;
   }
   p{
        color: rgb(0, 0, 0);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-variant: small-caps;
   }
  
