body{
            background-color: rgb(29, 29, 83);
        }
        h1{
            color: aliceblue;
            font-weight: bold;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
            text-align: center;
            text-decoration: underline white;
            font-size: 50px;
        }
        .logo{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 5%;
    }
        nav {
        width: 100%;
        padding: 0;      
        margin: 0;
        background-color: rgba(255,255,255,0.2);
        backdrop-filter: blur(8px);    
        font-weight: bold;  
        }
        ul{
        list-style: none;  
        width: 100%;
        
        }
        li{
            background-color: #f6f6f60d;
            color: aliceblue;
            text-decoration: none;
        }
        a{
            text-decoration: none;
            color: aliceblue;
            
        }
        nav ul{
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            width: 100%;
        }
        nav li{
            flex: 1px;
            text-align: center;
            padding: 10px 0;
            cursor: pointer;
        }
        nav li:last-child{
    border-right: none;
        }
        nav>ul>li>a{
            text-decoration: none;
            color: aliceblue;
            padding: 20px;
            display: block;
        }
        ul>li{
            display: inline-block;
            text-align: center; 
        }
        p{
            color: aliceblue;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
            font-variant: small-caps;
        }
        div{
            color: aliceblue;
            width: 150px;
            text-align: center;
            margin: auto;
            background-color: rgb(34, 34, 110);
            font-variant: small-caps;
        }