        body{
            background-color: rgb(255, 255, 255);
        }
        h1{
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-family:  Rubik Glitch  ;
            text-align: center;
            text-decoration: underline rgb(0, 0, 0);
            font-size: 50px;
        }
        .logo{
        position: absolute;
        top: -30px;
        right: 0px;
        width: 20%; 
        }
        
        p{
            color: rgb(0, 0, 0);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
            font-variant: small-caps;
        }
        
        .carrusel{
            margin:  auto;
            width: 100%;
            display: flex;
            overflow-x: auto;
            
        }
        a{
            text-decoration: none;
            color: aliceblue;
            font-family: BBH Sans Bartle;
        }
        .carrusel::-webkit-scrollbar{
            display: none;
        }
        .grupo{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1em;
            animation: spin 15s infinite linear;
            padding-right: 1em;
            
        }
        .ed{
            height: 5em;
            padding: 1em;
            flex: 0 0 5em;
            background-color: rgb(0, 0, 0);
            font-size: 3rem;
            border-radius: 1em;
            text-align: center;
            align-content: center;  
            text-decoration: none;
            color: white;

        }
        @keyframes spin {
            from{translate:0}
            to{translate:-100%;}
        }
        .boton{
            background-color: black;
            text-align: center;
        }
