*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    body{
    background-color: rgb(29, 29, 83);
    margin: 0;
}
h1{
    color: aliceblue;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
    text-align: center;
    text-decoration: underline white;
    font-size: 50px;
}
.logo{
    position: absolute;
    top: 10px;
    right: 0px;
    width: 20%;
}
nav {
    position: absolute;
    width: 100%;
    padding: 0;      
    margin: 0;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(8px);    
    font-weight: bold;  
    
}
ul{
    list-style: none;  
    width: 100%;
    padding: 0;
    margin: 0;
}
li{
     background-color: #f6f6f60d;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

}
nav li{
    flex: 1px;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}
nav li:last-child{
    border-right: none;
}
nav>ul>li>a{
    text-decoration: none;
    color: aliceblue;
    display: block;
}
ul>li{
    display: inline-block;
    text-align: center; 
}
ul>li>a:hover{
     background-color: #f6f6f60d;
     height: 50%;
}
ul>li>a:hover{
     background-color: #f6f6f60d;
     height: 50%;
}
.menu{
    list-style: none;
    background-color: rgb(29, 29, 83);
    color: aliceblue;
}
.menu li{
    position: relative;
    display: inline-block;
    width: 100%;
}
.menu li:hover ul{
    display: block;
}
.menu ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(29, 29, 83);
}
.menu ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: aliceblue;

}
.menu ul li a:hover{
    background-color: rgba(251, 251, 253, 0.151);
width: 100%;
}
.menu li a{
    text-decoration: none;
    padding: 10px;
}
ul.menu2 {
      list-style-type: none; 
      padding: 0;
      margin: 0;
      font-size: 16px;
    }

    ul.menu2 li {
      margin-bottom: 0px; 
      width: 40%;
    }
    .menu2 li{
        padding: 1%;
    }
   section{
    text-align: center;
   }
   h2{
    color: aliceblue;
    font-family: BBH Sans Bartle;
   }
   img{
    height: 75px;
   }
   p{
        color: aliceblue;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-variant: small-caps;
   }
